*

!.gitignore
!license
!readme.md

!ai3/
!ai3/_*.xs
!ai3/*.personality
!ai3/chatsets.xml
!ai3/homecitychatsets.xml
!ai3/aiLoaderStandard.xs
!ai3/aiwolheader.xs
!ai3/aiwolmain.xs
!ai3/aiwolloseum.xs
!ai3/wol/
!ai3/wol/*.xs

!startup/
!startup/user.cfg
!startup/wol.cfg